<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passion Project Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
   
</head>
<body>

    <header>
        <h1>Welcome to the Passion Project Picker!</h1>  <button onclick="window.location.href='/subpage'">Learn how to do projects</button>
    </header>
    
    <main>
        <div class="section1">
            <h4>HOW TO USE</h4>
            <h6>Enter 1 option from each category asked in the survey and then click submit, <br>the responce will be generated in a section below.</h6>
        </div>
    </main>



    <footer>
        <h9>&copy; 2024 Aryan Pradhan & Ruhaan Sahi. All rights reserved.</h9>
    </footer>

</body>
</html>