<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subpage_style.css') }}">

</head>
<header>
    <h1>Gain inspiration from existing passion projects!</h1>
</header>
<body>

    <h2>Welcome to the Subpage</h2>
    <p>This is another page linked from the index page.</p>

    <!-- Button to navigate back to the index page -->
    <button onclick="window.location.href='/'">Back to Home</button>

</body>
</html>